.counter {
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid lightskyblue;
  margin-bottom: 15px;
}
